.container {
    margin-left: 20px;
    margin-right: 20px;
}

.text-header {
    font-family: Cursive, monospace;
    margin: 0px;
    background-color: #94c2f3;
}

h4 {
    font-family: Cursive, monospace;
    background-color: #b2b9bf;
}

.img {
    width: 100%;
    height: auto;
}

.body {
    margin-left: 10%;
    margin-right: 10%;
}

.text-body {
    font-family: Arial;
    margin-bottom: 3%;
}

p {
    margin-bottom: 1px;
}

/* css button copy */
p.inline-block, button { 
    display: inline-block; 
}
        
i.bi { 
    color: #007bff; 
}

i.bi-clipboard-check {
    color: green; 
}
